<footer class="footer">
  <div class="footer__top">
    <div class="container footer__grid">
      <!-- Brand -->
      <div class="footer__brand">
        <img src="assets/images/logo-white.png" alt="Smart Village" class="footer__logo"
          onerror="this.style.display='none'" />
        <h3 class="footer__brand-name">{{ lang.current === 'ar' ? 'القرية الذكية' : 'Smart Village' }}</h3>
        <p class="footer__about">{{ 'ABOUT' | translate }}</p>
        <div class="footer__social">
          <a href="#" class="footer__social-link" aria-label="Instagram">
            <i class="icon-instagram"></i>
          </a>
          <a href="#" class="footer__social-link" aria-label="Twitter">
            <i class="icon-twitter"></i>
          </a>
          <a href="#" class="footer__social-link" aria-label="Facebook">
            <i class="icon-facebook"></i>
          </a>
        </div>
      </div>

      <!-- Customer Service -->
      <div class="footer__col">
        <h4 class="footer__heading">{{ 'CUSTOMER_SERVICE' | translate }}</h4>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">{{ 'CONTACT_US' | translate }}</a></li>
          <li><a routerLink="/profile/orders" class="footer__link">{{ 'ORDER_HISTORY' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'RETURN' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'FAQ' | translate }}</a></li>
        </ul>
      </div>

      <!-- My Account -->
      <div class="footer__col">
        <h4 class="footer__heading">{{ 'MY_ACCOUNT' | translate }}</h4>
        <ul class="footer__links">
          <li><a routerLink="/profile" class="footer__link">{{ 'MY_ACCOUNT' | translate }}</a></li>
          <li><a routerLink="/cart" class="footer__link">{{ 'CART' | translate }}</a></li>
          <li><a routerLink="/wishlist" class="footer__link">{{ 'WISHLIST' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'SITE_MAP' | translate }}</a></li>
        </ul>
      </div>

      <!-- Policies -->
      <div class="footer__col">
        <h4 class="footer__heading">{{ 'INFO_BANK' | translate }}</h4>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">{{ 'SHIPPING_DELIVERY' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'SELL_POLICY' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'PRIVACY_POLICY' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'TERMS' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'WARRANTY' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-inner">
      <p class="footer__copyright">{{ 'COPYRIGHT' | translate }}</p>
      <div class="footer__payment">
        <img src="assets/images/payment/visa.png" alt="Visa" onerror="this.style.display='none'" />
        <img src="assets/images/payment/mastercard.png" alt="Mastercard" onerror="this.style.display='none'" />
        <img src="assets/images/payment/mada.png" alt="Mada" onerror="this.style.display='none'" />
      </div>
    </div>
  </div>
</footer>